@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.about-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 1s linear forwards;
    -moz-animation: fadein 1s linear forwards;
    -webkit-animation: fadein 1s linear forwards;
    -o-animation: fadein 1s linear forwards;
    cursor: auto !important;
}

.text-canvas {
    display: flex;
    width: 80vw;
    height: auto;
    background: #E2E8E8 url(../../img/fabric_texture.png) repeat;
    box-shadow: 0 0 10vh #111111;
    border-radius: 10px;
    margin-top: -10vh;
}

.text-container {
    margin: 10vh 5vh;
}

.picture-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    border-radius: 10vw;
    overflow: hidden;
    box-shadow: 0 0 5vh #111111;
    border: solid 1vh #E2E8E8;
    z-index: 5;
}

.picture {
    width: 15vw;
    height: 15vw;
}

.about-title {
    font-size: 3vh;
    color: #2C2F2F;
}

.about-title:last-of-type {
    margin-top: 3vh;
}

.about-text {
    font-size: 2vh;
    color: #2C2F2F;
    margin-top: 1.5vh;
}

.social-buttons {
    display:inline;
    list-style-type: none;
}

.sm-buttons {
    float: left;
    width: 2.5vh;
    height: 2.5vh;
    margin: 2vh 0;
    padding: 0 1vh 1vh 1vh;
    animation: mouseout 1s linear forwards;
    -moz-animation: mouseout 1s linear forwards;
    -webkit-animation: mouseout 1s linear forwards;
    -o-animation: mouseout 1s linear forwards;
}

.sm-buttons:hover {
    animation: mousein .5s linear forwards;
    -moz-animation: mousein .5s linear forwards;
    -webkit-animation: mousein .5s linear forwards;
    -o-animation: mousein .5s linear forwards;
    cursor: pointer;
}

.skills {
    display: flex;
    flex-direction: row;
}

.skills-mobile {
    display: none;
}

@keyframes mousein {
    from {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
    to {border-bottom: #49C0B6 solid 2px;}
}
@-moz-keyframes mousein {
    from {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
    to {border-bottom: #49C0B6 solid 2px;}
}
@-webkit-keyframes mousein {
    from {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
    to {border-bottom: #49C0B6 solid 2px;}
}
@-o-keyframes mousein {
    from {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
    to {border-bottom: #49C0B6 solid 2px;}
}

@keyframes mouseout {
    from {border-bottom: #49C0B6 solid 2px;}
    to {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
}
@-o-keyframes mouseout {
    from {border-bottom: #49C0B6 solid 2px;}
    to {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
}
@-webkit-keyframes mouseout {
    from {border-bottom: #49C0B6 solid 2px;}
    to {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
}
@-moz-keyframes mouseout {
    from {border-bottom: #49C0B6 solid 2px;}
    to {border-bottom: rgba(44, 47, 47, 0) 2px solid;}
}

@media (max-width: 800px) {
    .text-canvas {
        width: 90vw;
        height: auto;
        margin-top: 0;
    }
    
    .text-container {
        max-width: 80vw;
        margin: 8vw 5vw;
    }
    
    .picture {
        width: 15vh;
        height: 15vh;
    }

    .picture-frame {
        width: 15vh;
        height: 15vh;
        border-radius: 15vh;
        border: solid 1vw #E2E8E8;
        margin-top: 0;
        margin-bottom: -3vh;
    }

    .about-title {
        font-size: 5vw;
        color: #2C2F2F;
    }

    .about-title:last-of-type {
        margin-top: 3vh;
    }

    .about-text {
        font-size: 3vw;
        color: #2C2F2F;
        margin-top: 1.5vh;
    }

    .skills-mobile {
        display: flex;
    }

    .skills {
        display: none;
    }

}

@media (max-width: 1130px) {
    .skills-mobile {
        display: flex;
    }

    .skills {
        display: none;
    }
}