.project-card {
    width: 80vh;
    height: 75vh;
    background: #E2E8E8 url(../../img/fabric_texture.png) repeat;
    box-shadow: 10px 10px 20px #222222 ;
    border-radius: 1vh;
    overflow: hidden;
    margin-left: 10vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.project-card:first-of-type {
    margin-left: 30vh;
}

.project-body {
    padding: 3vh 3vh;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
}

.project-title {
    font-size: 2vh;
    color: rgba(44,47,47,.9);
    padding-top: .5vh;
}

.project-tech {
    padding: .5vh;

}

.project-description {
    padding-top: 1vh;
    color: rgba(44,47,47,.9);
}

.project-extras {
    display: flex;
    align-items: center;
    padding: 1vh .5vh 0 .5vh;
}

.project-extras-text {
    color: rgba(44,47,47,.9);
    padding: .3vh 0 0 .8vh;
}

.project-icon {
    width: 2vh;
    height: 2vh;
}


.project-buttons {
    width: 74vh;
    height: 5vh;
    display: flex;
}

.project-btn {
    margin-top: 1vh;
    margin-right: 1vh;
    border-radius: .5vh;
    display: flex;
    align-items: center;
    padding: .5vh 1.5vh .5vh 0 ;
    border: solid .2vh rgba(44,47,47,.7);
    background-color: #E2E8E8;
    cursor: pointer;
    overflow: hidden;
    animation: shadowout .3s linear;
    -o-animation: shadowout .3s linear;
    -moz-animation: shadowout .3s linear;
    -webkit-animation: shadowout .3s linear;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.project-btn:hover {
    animation: shadowin .3s linear;
    -o-animation: shadowin .3s linear;
    -moz-animation: shadowin .3s linear;
    -webkit-animation: shadowin .3s linear;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.disabled {
    background-color: rgba(44,47,47,.3);
    border-color: rgba(44,47,47,.3);
    color: rgba(44,47,47,.3);
    box-shadow: none;
}

.disabled:hover {
    box-shadow: none !important;
}

.project-btn:last-of-type {
    margin-right: 0;
}

.btn-icon-box {
    border-radius: .5vh;
    padding: .5vh;
}

.btn-icon {
    height: 2.5vh;
    width: 2.5vh;
}

.btn-label {
    padding-top: .3vh;
    margin-left: .5vh;
    text-transform: uppercase;
    font-size: 1.3vh;
    color: #2C2F2F;
}

.project-tech {
    display: flex;

}

.tech-box {
    border-radius: .7vh;
    margin-left: .5vh;
    border: solid 2px #2C2F2F;
    overflow: hidden;
}

.tech-box.icon {
    width: 2.5vh;
    height: 2.5vh;

}

.tech-icon {
    width: 2vh;
    height: 2vh;
    padding-top: .3vh;
    margin: auto;
}

.tech-logo-text {
    font-size: 'Gotham Bold', sans-serif;
    font-size: 1vh;
    text-align: center;
    padding: .7vh .5vh .5vh .5vh;
}


@keyframes shadowin {
    from { box-shadow: 0 0 .5vh; }
    to { box-shadow: 0 0 1vh; }
}
@-webkit-keyframes shadowin {
    from { box-shadow: 0 0 .5vh; }
    to { box-shadow: 0 0 1vh; }
}
@-moz-keyframes shadowin {
    from { box-shadow: 0 0 .5vh; }
    to { box-shadow: 0 0 1vh; }
}
@-o-keyframes shadowin {
    from { box-shadow: 0 0 .5vh; }
    to { box-shadow: 0 0 1vh; }
}

@keyframes shadowout {
    from { box-shadow: 0 0 1vh; }
    to { box-shadow: 0 0 .5vh; }
}
@-webkit-keyframes shadowout {
    from { box-shadow: 0 0 1vh; }
    to { box-shadow: 0 0 .5vh; }
}
@-moz-keyframes shadowout {
    from { box-shadow: 0 0 1vh; }
    to { box-shadow: 0 0 .5vh; }
}
@-o-keyframes shadowout {
    from { box-shadow: 0 0 1vh; }
    to { box-shadow: 0 0 .5vh; }
}